<div class="add-task p-5 bg-gray-100 rounded-lg shadow-lg">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="flex items-center space-x-4">
    <div class="form-group flex-grow">
      <input type="text" id="title" formControlName="title" class="form-control w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary px-4 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
        Add Task
      </button>
    </div>
  </form>
</div>